<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/kitchen-party/foundation/css/foundation.min.css"/>


    <script src="/kitchen-party/jquery/jquery.min.js"></script>
    <script src="/kitchen-party/what-input/what-input.js"></script>
    <script src="/kitchen-party/foundation/js/foundation.min.js"></script>

    <script src="/kitchen-party/tone/Tone.min.js"></script>
    <script src="/kitchen-party/socket.io/socket.io.js"></script>

    <style>
        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        }
        .switch.large .switch-paddle {
            font-size: 0.8rem;
            text-align: right;
        }
    </style>

    <script>
        $(document).foundation();
    </script>


</head>
<body>
<h1>Kitchen Party - Beta</h1>
<hr/>
