<% include partials/head.ejs %>
<% notes = [
    ['C', ["C3", "E3", "G3"]],
    ['C1', 'C3'],
    ['C2', 'E3'],
    ['C3', 'G3'],

    ['G', ["G3", "B3", "D4"]],
    ['G1', 'G3'],
    ['G2', 'B3'],
    ['G3', 'D4'],

    ['Am', ["A3", "C4", "E4"]],
    ['Am1', 'A3'],
    ['Am2', 'C4'],
    ['Am3', 'E4'],

    ['F', ["F3", "A3", "C4"]],
    ['F1', 'F3'],
    ['F2', 'A3'],
    ['F3', 'C4']
];
%>

<h3>Notes:</h3>
<% notes.forEach(function(note, i, arr){ %>
<br/><label><%= note[0] %>
    <input type="radio" name="note" value="<%= i %>">
</label>
<% }); %>


<button class="play">Play</button>

<script>
    var socket = io();
    jQuery(function ($) {
        $('.play')
            .on('mousedown', function () {
                var val = parseInt($('input[name=note]:checked').val());
                socket.emit('startnote', val);
            });
        $('.play').on('mouseup', function () {
                var val = parseInt($('input[name=note]:checked').val());
                socket.emit('stopnote', val);
            })
    })

</script>