<% include partials/head.ejs %>
    <script>
        var socket = io();
        $(function () {
/*
            var synth1 = new Tone.PolySynth(3, Tone.Synth,{
                "envelope": {
                    "attack": 0.01,
                    "decay": 0.1,
                    "sustain": 0.5,
                    "release": 0.4,
                    "attackCurve" : "exponential"
                },
            }).toMaster();*/

/*            synth1.set({
                "envelope" : {
                    "attack" : 1.5,
                    "release" : 1.5,
                }
            });*/


            var notes = [
                ['C', ["C3", "E3", "G3"]],
                ['C1', 'C3'],
                ['C2', 'E3'],
                ['C3', 'G3'],

                ['G', ["G3", "B3", "D4"]],
                ['G1', 'G3'],
                ['G2', 'B3'],
                ['G3', 'D4'],

                ['Am', ["A3", "C4", "E4"]],
                ['Am1', 'A3'],
                ['Am2', 'C4'],
                ['Am3', 'E4'],

                ['F', ["F3", "A3", "C4"]],
                ['F1', 'F3'],
                ['F2', 'A3'],
                ['F3', 'C4']
            ];

            var accordion = new Tone.Sampler({
                'C3' : '11-C3.wav',
                'E3' : '15-E3.wav',
                'G3' : '18-G3.wav',
                'A3' : '20-A3.wav',
                'B3' : '22-B3.wav',
                'C4' : '23-C4.wav',
                'D4' : '25-D4.wav',
                'E4' : '27-E4.wav',

            }, {
                'release' : 1,
                'baseUrl' : '/sounds/diatonic-accordion/'
            }).toMaster();



            socket.on('startnote', function(msg){
                console.log('start' + msg);
                accordion.triggerAttack(
                    notes[parseInt(msg)][1]
                );
            });
            socket.on('stopnote', function(msg){
                console.log('stop' + msg);
                accordion.triggerRelease(
                    notes[parseInt(msg)][1]
                );
            });
        });
    </script>



</head>
<body>
<ul id="messages"></ul>
</body>
</html>